
    <div class="form-group" data-id="elementid">
    <div class="input-group input-group-sm">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-content-append="number"></button>
            <button class="btn btn-danger" onclick="Commissions.Remove(this)" type="button"><i class="fa fa-remove"></i></button>
        </span>
        <input class="form-control" onkeyup="Commissions.Update(this)" placeholder="% Commission" data-value="percentage">
    </div>
    </div>
